.LINE {
  animation: animateLineAbout 2s;
  width: 12rem;
}

@keyframes animateLineAbout {
  0% {
    width: 0rem;
  }
  50% {
    width: 14rem;
  }
  100% {
    width: 12rem;
  }
}

.ABOUT {
  animation: animateABOUT 2s;
}

@keyframes animateABOUT {
  0% {
    opacity: 0;
    margin-top: 2rem;
  }
  100% {
    margin-top: 0rem;
    opacity: 1;
  }
}

.NAVBAR-MENU {
  animation: animateNavbarMenu 2s;
}

@keyframes animateNavbarMenu {
  0% {
    margin-right: 5rem;
    opacity: 0;
  }
  100% {
    margin-right: 0rem;
    opacity: 1;
  }
}

.LOGIN {
  animation: animateButtonLogin 2s;
}

@keyframes animateButtonLogin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.TEXT-DESC {
  visibility: hidden;
  animation: animateTextDesc 2s forwards 1.2s;
}

@keyframes animateTextDesc {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.TEXT-M {
  visibility: hidden;
  animation: animateTextM 2s forwards 1.5s;
}

@keyframes animateTextM {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.TITLE-CONTACTUS {
  animation: animateContactus 2s;
}

@keyframes animateContactus {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.LINE-CONTACTUS {
  animation: animateLineContactus 2s;
  width: 20rem;
}

@keyframes animateLineContactus {
  0% {
    width: 0;
  }
  50% {
    width: 22rem;
  }
  100% {
    width: 20rem;
  }
}

.PRICING-TITLE {
  animation: animatePricingTitle 2s;
}

@keyframes animatePricingTitle {
  0% {
    margin-top: 2rem;
  }
  100% {
    margin-top: 0rem;
  }
}
