@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  padding: 0.5rem;
  color: black;
}

.btn.dark {
  color: white;
}

.card {
  padding: 0.5rem 1rem;
  border-radius: 30px;
}

.card.color {
  border: 2px solid rgb(165, 161, 161);
}
